body {
    background-color: #f4f4f4;
    font-size: 14px;
    font-family: Roboto,sans-serif;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

@media only screen and (min-width: 993px) {
    header.navbar_fixa {
        padding-left: 300px;
    }
    main div.time_line {
        padding-left: 310px;
        padding-right: 10px;
        padding-top: 20px;
    }
}

.card-perfil {
    width: 450px; 
}

.without-padding {
    padding: 0 !important;
}

.sidenav {
    background-color: #0091ea;
}
    
.sidenav li {
    width: 100%;
    float: none;
    line-height: 58px;
}

.sidenav .collapsible > li, #logo-usuario {
    border-bottom: 1px solid rgba(0,0,0,0.5);
}

/*.sidenav .collapsible-body, .sidenav .active {
    background-color: #0083D3;
}*/

.sidenav li a{
    position: relative;
    display: block;
    font-size: 14px;
    font-weight: 500;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.sidenav .collapsible .collapsible-header {
    text-transform: uppercase;
    height: 64px;
    line-height: 64px;
}

.sidenav .collapsible .collapsible-header .chevron {
    float: right;
    height: 24px;
    width: 24px;
    line-height: 24px;
    margin: 20px 0 0 0;
/*    -webkit-animation: spin 4s linear normal;
    -moz-animation:  4s linear normal;
    animation: spin 4s linear normal;*/
}

/*@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotae(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }*/

#logo-usuario {
    line-height: inherit;
    height: 64px;
    font-size: 18px;
}

#logo-usuario i {
    margin-top: 5px;
    font-size: 38px;
}

[type="checkbox"] + span:not(.lever):before, [type="checkbox"]:not(.filled-in) + span:not(.lever):after,
[type="checkbox"] + span:not(.lever):before, [type="checkbox"]:not(.filled-in) + span:not(.lever):after{
    width: 13px;
    height: 13px;
}

[type="checkbox"] + span:not(.lever) {
    display: inherit;
    
}

[type="checkbox"]:checked + span:not(.lever):before {
    width: 8px;
    height: 15px;
    top: 0px;
    left: -3px;
    border-right-color: #0091ea;
    border-bottom-color: #0091ea;
}

table.consulta_padrao > thead {
    border-top: 1px solid #0091ea;
}

table.consulta_padrao td {
    padding: 2px 5px;
}

table.consulta_padrao tr {
    cursor: pointer;
}

table.highlight > tbody > tr:hover {
  background-color: rgba(220, 220, 220, 1);
}

/*table.consulta_padrao tr:hover,
table.striped > tbody > tr:nth-child(odd):hover{
    background-color: #0091ea;
}*/

.area_botoes_paginacao {
    display: block;
    padding-bottom: 2px;
    position: relative;
    float: right;
}

input:not([type]) {
    border-bottom-color: #0091ea;
}

input:not([type]):focus:not([readonly]){
    border-bottom: 1px solid #0091ea;
}

.area_filtro {
    width: 250px;
    float: right;
    border-bottom-color: #0091ea;
}

.area_label_cont, .area_botoes_acoes{
    clear: both;
    width: 100%;
    padding-top: 0.5em;
    padding-left: 0.8em;
    padding-right: 0.8em;
    display: inline-block;
}

.area_botoes_acoes {
    border-top: 1px solid #0091ea;
}

.acoes_sem_grid, .acoes_com_grid {
    display: inline-block;
    margin-bottom: 10px;
}

.acoes_com_grid {
    margin-left: 10px;
}

.pagination li a{
    font-size: 1em;
}

.pagination li.active{
    background-color: #0091ea;
}

.btn-small {
    background-color: #0091ea;
    height: 25px;
    line-height: 25px;
    font-size: 0.8em;
    margin-left: -4px;
    padding: 0px 7px;
}

.btn-small:hover  {
    background-color: #0091ea;
}

.btn-small.disabled {
    background-color: #37474f;
}