body {
    background-color: #f4f4f4;
    font-size: 14px;
    font-family: Roboto,sans-serif;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

@media only screen and (min-width: 993px) {
    header.navbar_fixa {
        padding-left: 300px;
    }
    main div.time_line {
        padding-left: 310px;
        padding-right: 10px;
        padding-top: 20px;
    }
}

.row {
    position: relative;
    height: 10em;    
}

@media only screen and (min-width: 993px) {
    .row {
        height: 30em;
    }
}

#tela-login {
    position: absolute;
    top: 50%;
    left: 25%;
}

@media only screen and (max-width: 980px) {
    #tela-login {
        left: 19%;
    }
}

.card-perfil {
    width: 450px; 
}

.navbar-fixed nav {
    position: relative;
}

.without-padding {
    padding: 0 !important;
}

.sidenav {
    background-color: #0091ea;
}
    
.sidenav li {
    width: 100%;
    float: none;
    line-height: 58px;
}

.sidenav .collapsible > li, #logo-usuario {
    border-bottom: 1px solid rgba(0,0,0,0.5);
}

.sidenav li a{
    position: relative;
    display: block;
    font-size: 14px;
    font-weight: 500;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.sidenav .collapsible .collapsible-header {
    text-transform: uppercase;
    height: 64px;
    line-height: 64px;
}

.sidenav .collapsible .collapsible-header .chevron {
    float: right;
    height: 24px;
    width: 24px;
    line-height: 24px;
    margin: 20px 0 0 0;
}

#logo-usuario {
    line-height: inherit;
    height: 64px;
    font-size: 18px;
}

#logo-usuario i {
    margin-top: 5px;
    font-size: 38px;
}

[type="checkbox"] + span:not(.lever):before, [type="checkbox"]:not(.filled-in) + span:not(.lever):after,
[type="checkbox"] + span:not(.lever):before, [type="checkbox"]:not(.filled-in) + span:not(.lever):after{
    width: 13px;
    height: 13px;
}

[type="checkbox"] + span:not(.lever) {
    display: inherit;
    
}

[type="checkbox"]:checked + span:not(.lever):before {
    width: 8px;
    height: 15px;
    top: 0px;
    left: -3px;
    border-right-color: #0091ea;
    border-bottom-color: #0091ea;
}

table.consulta_padrao > thead {
    border-top: 1px solid #0091ea;
}

table.consulta_padrao td {
    padding: 2px 5px;
}

table.consulta_padrao tr {
    cursor: pointer;
}

table.highlight > tbody > tr:hover {
  background-color: rgba(220, 220, 220, 1);
}

/*table.consulta_padrao tr:hover,
table.striped > tbody > tr:nth-child(odd):hover{
    background-color: #0091ea;
}*/

.area_botoes_paginacao {
    display: block;
    padding-bottom: 2px;
    position: relative;
    float: right;
}

input:not([type]),
input[type=text]:not(.browser-default),
input[type=password]:not(.browser-default),
input[type=email]:not(.browser-default),
input[type=url]:not(.browser-default),
input[type=time]:not(.browser-default),
input[type=date]:not(.browser-default),
input[type=datetime]:not(.browser-default),
input[type=datetime-local]:not(.browser-default),
input[type=tel]:not(.browser-default),
input[type=number]:not(.browser-default),
input[type=search]:not(.browser-default),
textarea.materialize-textarea {
    border-bottom-color: #0091ea;
}

input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]){
    border-bottom: 1px solid #0091ea;
}

input:not([type]):focus:not([readonly]) + label,
input[type=text]:not(.browser-default):focus:not([readonly]) + label,
input[type=password]:not(.browser-default):focus:not([readonly]) + label,
input[type=email]:not(.browser-default):focus:not([readonly]) + label,
input[type=url]:not(.browser-default):focus:not([readonly]) + label,
input[type=time]:not(.browser-default):focus:not([readonly]) + label,
input[type=date]:not(.browser-default):focus:not([readonly]) + label,
input[type=datetime]:not(.browser-default):focus:not([readonly]) + label,
input[type=datetime-local]:not(.browser-default):focus:not([readonly]) + label,
input[type=tel]:not(.browser-default):focus:not([readonly]) + label,
input[type=number]:not(.browser-default):focus:not([readonly]) + label,
input[type=search]:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label {
  color: #0091ea;
}

.input-field .prefix.active {
  color: #0091ea;
}


.area_filtro {
    width: 250px;
    float: right;
    border-bottom-color: #0091ea;
}

.area_label_cont, .area_botoes_acoes{
    clear: both;
    width: 100%;
    padding-top: 0.5em;
    padding-left: 0.8em;
    padding-right: 0.8em;
    display: inline-block;
}

.area_botoes_acoes {
    border-top: 1px solid #0091ea;
}

.area_botao_car {
    padding-right: 15px;
}

.area_botao_car li a i.material-icons {
    color: rgba(0,0,0,0.54);
    font-size: 30px;
}

.acoes_sem_grid, .acoes_com_grid {
    display: inline-block;
    margin-bottom: 10px;
}

.acoes_com_grid {
    margin-left: 10px;
}

.pagination li a{
    font-size: 1em;
}

.pagination li.active{
    background-color: #0091ea;
}

.btn, .btn-large, .btn-small {
    background-color: #0091ea;    
}

.btn-small {
    height: 25px;
    line-height: 25px;
    font-size: 0.8em;
    margin-left: -4px;
    padding: 0px 7px;
}

.btn:hover, .btn-large:hover, .btn-small:hover {
  background-color: #0091ea;
}

.btn-small.disabled {
    background-color: #37474f;
}